#mobile_wrap {
    background-color: #141414;/* #mobile_wrap */
    width:440px; height:956px;/* #mobile_wrap */
    text-align:center;/* 자식, 자손정렬 */
    font-family:'pretendard', sans-serif;/* 자식, 자손 글꼴 통일 */
}
#mobile_wrap .photo {
    margin-top:110px;
    margin-bottom:22px;
    display:inline-block;/* 마진값이 잘못된게 아님 display 설정해야함 */
}
#mobile_wrap .photo img {}
#mobile_wrap h1 {
    /* 글꼴 부모 상속 상태 */
    color: white;
    font-size:2rem;
    font-weight:500;
    line-height:1.3;
    letter-spacing:-0.02em;
    margin-bottom:48px;
}
#mobile_wrap h1 strong {
    /* 글꼴,자간,행간 상속상태 이건 +임*/
    color: white;
    font-weight: 900;
    font-size:2.188rem;
}
#mobile_wrap h1 span {
    /* 글꼴,자간,행간 상속상태 */
    color: #F97575;
    font-size:2.188rem;
    font-weight:700;
}
/* 여기까지 제목*/
#mobile_wrap h2 {/* 이름h2부분 */
    color: white;
    font-size:1rem;
    font-weight:700;
    letter-spacing:-0.02rem;
    line-height:1.7;
    width:270px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .git {/* 깃허브 주소 */
    color: white;
    font-size:1rem;
    margin-bottom:30px;
    display: inline-block;
    line-height:1.7;
    font-weight:500;
    letter-spacing:-0.02rem;
    width:270px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#mobile_wrap .skill {}
#mobile_wrap .skill li {
    color: white;
    font-size:1rem;
    line-height:1.7;
    font-weight:500;
    letter-spacing:-0.02rem;
    width:270px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}